/* input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */


*,
*:before,
*:after {
    box-sizing: border-box;
}


*:focus {
    outline: none;
}

body {
    line-height: 1.2;
}

p,
input, hr {
    margin: 0;
}

button {
    padding: 0;
    font: inherit;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}



.container {
    max-width: 993px;
    /* ширина контента+ падинги */
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

@media(max-width: 1200px) {
    .container {
        max-width: 970px;
    }

}

@media(max-width: 992px) {
    .container {
        max-width: 750px;
    }

}

@media(max-width: 767px) {
    .container {
        max-width: none;
    }

}

.main-content {
    display: flex;
}

/*============== flights ============== */

.flights {
    padding: 20px 46px 0 24px;
    background-color: #fff;

}

.flights__inner {
    background-color: #fff;

}

.flight-card {
    width: 640px;
    margin-bottom: 30px;
}

.flight-card:last-child {
    margin-bottom: 18px;
}

.flight-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    background-color: #0087c9;
}

.flight-card__logo-container {}

.flight-card__logo-img {
    width: 50px;
}

.flight-card__price-container {}

.flight-card__price-value {
    display: block;
    font-size: 24px;
    color: white;
    text-align: right;
}

.flight-card__price-description {
    font-size: 12px;
    display: block;
    color: white;
    text-align: right;

}


.flights__button-more {
    display: block;
    width: 255px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    border:1px solid #575454;
    background-color: #f1f1f1;
    margin: 0 auto 30px;
}